---
layout: category-post
title: Codersnack - Category
pagination:
    enabled: true
---

<section class="latest">
    <h3>Latest Category Posts</h3>

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination-links">
        {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
                >Newer &gt;</a
            >
        </li>
        {% endif %} {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"
                >&lt; Older</a
            >
        </li>
        {% endif %}
    </ul>
    {% endif %}
</section>
