<nav>
    <div class="left">
        <a href="/" class="logo">
          <img src="/assets/images/codersnack_logo.png" alt="" />
          <span>Codersnack</span>
          </a>
    </div>

    <div class="right">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"
            ><span class="navicon"></span
        ></label>

        <ul class="menu">
            <li><a href="/blog.html">Browse snacks</a></li>
            <li><a href="/about.html">About</a></li>
        </ul>
    </div>
</nav>
