body {
    font-family: SourceCodePro-Regular;
    background-color: $primary-color;
}

p {
    font-size: 1em;
    @include for-phone-only {    
      font-size: 1.5rem;
   }
}

main {
    // margin-top:3em;
    position: relative;
    top: 5em;
}

section {
    padding: 1em;
}

footer {
    width: 100%;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 1em;
}
.current {
    color: green;
}
