body {
    font-family: SourceCodePro-Regular;
    background-color: $primary-color;
}

p {
    font-size: 1em;
    @include for-phone-only {
        font-size: 1.5rem;
    }
}

main {
    // margin-top:3em;
    position: relative;
    top: 5em;

    section {
        padding: 1em;
    }

    h3 {
        font-size: 2em;
        margin-bottom: 0.5em;
        @include for-phone-only {
            margin-bottom: 1.5em;
            text-align: left;
            margin-left: 1em;
        }
    }

    blockquote {
        background-color: white;
        padding: .2em 1em;
        font-style: italic;
        margin: 1em;
        max-width: 50%;
    }

    // code blocks
    .highlighter-rouge {
        background-color: $darkBlueColor;
        padding: 1em;
        color: white;
        font-family: SourceCodePro-ExtraLight;
        line-height: 1.5em;
        margin: 1em;
    }

    p {
        margin: 1em;
    }

    section.main {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .left {
            margin-top: 1em;
            max-width: 46em;
            float: left;
            text-align: left;

            @include for-phone-only {
                float: none;
                text-align: center;
            }
            p {
                margin-bottom: 4em;
                @include for-phone-only {
                    font-size: 1em;
                    text-align: left;
                    margin-left: 2em;
                }
            }
            button {
                background-color: $darkBlueColor;
                color: white;
                border-radius: 10px;
                padding: 1em 2em;
                border: 0;
                font-family: SourceCodePro-Regular;
            }
        }

        .right {
            float: right;
            margin: 1em;
            @include for-phone-only {
                display: none;
            }
        }
    }

    section.latest {
        .post-list {
            margin: 0;
            padding: 0;
            li {
                padding: 1em 2em;
                h2 {
                    font-size: 1.3em;
                }

                p {
                    font-size: 1em;
                }

            }
        }
    }
}

footer {
    width: 100%;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5em 0;
    background-color: $primary-color;
    z-index: 11111;
}
.current {
    color: green;
}
